<%= form_for @player, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :skill, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :skill, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :doubt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :doubt, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wins, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :wins, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :losses, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :losses, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :draws, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :draws, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expectations, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :expectations, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                players_path, :class => 'btn' %>
  </div>
<% end %>
