<%- model_class = Player -%>
<div class="page-header">
  <h1>Ranking</h1>
  <pre>Click on match result at your name row only<br />Click on the player name to see the matches</pre>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Nome</th>
      <th>R</th>
      <th>V</th>
      <th>D</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
        <td><%= (index+1) %></td>
        <td><%= link_to player.name, player_macthes_path(player) %></td>
        <td><%= (player.rating == 9.999999999621423e-06) ? 0 : '%.4f' % player.rating  %></td>
        <td><%= player.wins %></td>
        <td><%= player.losses %></td>
        <td>
          <%= link_to '+ resultado',
            player_match_path(player), 
            :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

