<%- model_class = Player -%>
<div class="page-header">
  <h1>Ranking</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:wins) %></th>
      <th><%= model_class.human_attribute_name(:losses) %></th>
      <th><%= model_class.human_attribute_name(:draws) %></th>
      <th><%=t '.match' %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.id, players_path(player) %></td>
        <td><%= player.name %></td>
        <td><%= player.email %></td>
        <td><%= (player.rating == 9.999999999621423e-06) ? 0 : '%.4f' % player.rating  %></td>
        <td><%= player.wins %></td>
        <td><%= player.losses %></td>
        <td><%= player.draws %></td>
        <td>
          <%= link_to t('.match_result'),
                      player_match_path(player), 
                      :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_player_path,
            :class => 'btn btn-primary' %>
