<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @match.player_id %>
</p>

<p>
  <b>Competitor:</b>
  <%= @match.competitor_id %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @match.confirmed %>
</p>

<p>
  <b>Result:</b>
  <%= @match.result %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
